/*  --- HERO SECTION --- */

.hero {
  margin: 60px auto;
  max-width: 85%;
}

.hero-left-content {
  width: 100%;
  max-width: 100%;
}

.hero-left-content h1 {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.hero-left-content p {
  margin-bottom: 30px;
}

.hero-btns {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.inTouch-btn {
  background-color: var(--Primary);
  color: var(--White);
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  transition: background-color var(--transition-normal);
  font-weight: bold;
}

.inTouch-btn:hover {
  background-color: var(--Primary);
  color: var(--Secondary1);
  cursor: pointer;
}

.work-btn {
  border: none;
}

.work-btn:hover {
  cursor: pointer;
  color: var(--Primary);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.hero-right-content {
  width: 600px;
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 30px;
}

.hero-bg-image {
  max-width: 100%;
  height: auto;
  display: block;
}

.hero-top-left,
.hero-bottom-right {
  position: absolute;
  width: 60%;
  height: auto;
  z-index: 2;
  background-color: transparent;
}

.hero-top-left {
  top: 0;
  left: 0;
  transform: translate(-20%, -10%);
}

.hero-bottom-right {
  bottom: 0;
  right: 0;
  transform: translate(20%, 30%);
}

/* --- CLIENT SECTION --- */

#clients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
  gap: 40px;
  width: 100%;
  margin-inline: auto;
}

.client-single-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-logos img {
  filter: grayscale(100%);
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.client-logos img:hover {
  filter: none;
}



/* --- TABLET RESPONSIVENESS --- */

@media (min-width: 481px) and (max-width: 768px) {
  #clients {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: auto;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .client-single-logo:nth-child(4) {
    grid-column: 1;
  }
  .client-single-logo:nth-child(5) {
    grid-column: 3;
  }
}

/* --- DESKTOP RESPONSIVENESS --- */
@media (min-width: 769px) {
  body {
    margin: 0 250px;
  }
  .hero {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .hero-left-content {
    flex: 1;
    max-width: 50%;
  }

  .hero-left-content p {
    width: 435px;
  }

  .hero-btns {
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
  }

  .inTouch-btn {
    padding: 12px 25px;
  }

  .hero-right-content {
    flex: 1;
    max-width: 50%;
  }

  .hero-top-left,
  .hero-bottom-right {
    width: 60%;
  }

  .hero-top-left {
    top: 0;
    left: 0;
  }

  #clients {
    margin-top: 5rem;
    justify-content: space-evenly;
  }
}
