/*  --- HERO SECTION --- */

.hero {
  margin: 60px auto;
  max-width: 85%;
}

.hero-left-content {
  width: 100%;
  max-width: 100%;
}

.hero-left-content h1 {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.hero-left-content p {
  margin-bottom: 30px;
}

.hero-btns {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.inTouch-btn {
  background-color: var(--Primary);
  color: var(--White);
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  transition: background-color var(--transition-normal);
  font-weight: bold;
}

.inTouch-btn:hover {
  background-color: var(--Primary);
  color: var(--Secondary1);
  cursor: pointer;
}

.work-btn {
  border: none;
}

.work-btn:hover {
  cursor: pointer;
  color: var(--Primary);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.hero-right-content {
  width: 600px;
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 30px;
}

.hero-bg-image {
  max-width: 100%;
  height: auto;
  display: block;
}

.hero-top-left,
.hero-bottom-right {
  position: absolute;
  width: 60%;
  height: auto;
  z-index: 2;
  background-color: transparent;
}

.hero-top-left {
  top: 0;
  left: 0;
  transform: translate(-20%, -10%);
}

.hero-bottom-right {
  bottom: 0;
  right: 0;
  transform: translate(20%, 30%);
}

/* --- CLIENT SECTION --- */

#clients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
  gap: 40px;
  width: 100%;
  margin-inline: auto;
}

.client-single-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-logos img {
  filter: grayscale(100%);
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.client-logos img:hover {
  filter: none;
}

/* --- RECENT PROJECTS --- */

.recent-projects-section {
  padding: 80px 20px 10rem 20px;
  text-align: left;
}

.recent-projects-section h2 {
  margin-bottom: 40px;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.card-content,
.project-card h3,
.project-card p {
  background-color: var(--White);
}

.project-card {
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  flex-direction: column;

  width: 90%;
  max-width: 350px;
  margin: auto;

  overflow: hidden;
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: block;
}

.project-card .card-content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.project-card h3 {
  margin-bottom: 10px;
  color: var(--NeutralDark);
}

.project-card p {
  color: var(--NeutralMedium);
  margin-bottom: 20px;
}

.project-card .card-link {
  display: inline-block;
  background-color: var(--Primary);
  color: var(--White);
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color var(--transition-normal),
    color var(--transition-normal);
  margin-top: auto;
}

.project-card .card-link:hover {
  background-color: var(--Primary);
  color: var(--Secondary1);
}

/* --- TESTIMONAL SECTION --- */

.testimonial-section {
  background-color: var(--NeutralDark);
  background-image: url(/media/testimonial-section/orbit.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center center; */
  /* arriba to be updated */
  position: relative;
  overflow: hidden;

  padding: 100px 20px; /* Padding para dar espacio al contenido y que el fondo se vea */
  /* min-height: 600px; Asegura una altura mínima para que la órbita se muestre bien */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonial-emojis img {
  position: absolute;
  background-color: transparent;
  max-width: 75px;
}

.emoji-top-left {
  top: 5%;
  left: 5%;
}

.emoji-top-right {
  top: 5%;
  right: 5%;
}

.emoji-bottom-left {
  bottom: 5%;
  left: 5%;
}

.emoji-bottom-right {
  bottom: 5%;
  right: 5%;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  background-color: var(--NeutralDark);
  margin: 20px;
  text-align: center;
}

.testimonial-content h2 {
  text-transform: capitalize;
  color: var(--White);
  background-color: var(--NeutralDark);
  margin-bottom: 30px;
}

.testimonial-content p {
  color: var(--Secondary1);
  background-color: var(--NeutralDark);
}

.testimonal-author {
  display: flex;
  align-items: center;
  max-width: 200px;
  background-color: var(--NeutralDark);
  gap: 20px;
}

.testimonal-author img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.testimonial-author-info,
.testimonial-author-info p.author-name,
.testimonial-author-info p.author-company {
  background-color: var(--NeutralDark);
  text-align: left;
}

.testimonial-author-info p.author-name {
  color: var(--PrimaryHover);
}

.testimonial-author-info p.author-company {
  color: var(--NeutralLight);
}

/* --- TABLET RESPONSIVENESS --- */

@media (min-width: 481px) and (max-width: 768px) {
  #clients {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: auto;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .client-single-logo:nth-child(4) {
    grid-column: 1;
  }
  .client-single-logo:nth-child(5) {
    grid-column: 3;
  }

  .project-card {
    max-width: none;
  }
  .project-card img {
    height: 300px;
  }
}

/* --- DESKTOP RESPONSIVENESS --- */
@media (min-width: 769px) {
  body {
    margin: 0 250px;
  }
  .hero {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .hero-left-content {
    flex: 1;
    max-width: 50%;
  }

  .hero-left-content p {
    width: 435px;
  }

  .hero-btns {
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
  }

  .inTouch-btn {
    padding: 12px 25px;
  }

  .hero-right-content {
    flex: 1;
    max-width: 50%;
  }

  .hero-top-left,
  .hero-bottom-right {
    width: 60%;
  }

  .hero-top-left {
    top: 0;
    left: 0;
  }

  #clients {
    margin-top: 5rem;
    justify-content: space-evenly;
  }

  .projects-grid {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    margin: 0;
    width: 95%;
  }

  .project-card {
    max-width: none;
  }
  .project-card img {
    height: 200px;
  }
  .project-card {
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform var(--transition-normal),
      box-shadow var(--transition-normal);
  }
  .project-card .card-content {
    padding: 10px;
  }
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }

  .testimonial-content p {
  font-size: 24px;
  }
}
